{% extends '::base.html.twig' %}

{% block body %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>#TwitterClone</h1>
        <p>This is our first apps using Symfony to build a Twitter clone </p>
        <div class="row">

            {% for tweet in tweets %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5>{{ tweet.content }}</h5>
                            <p><a>@{{ tweet.user }}</a> at {{ tweet.publishedAt|date('Y-m-d H:m') }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
</div>


{% endblock body %}
